.dashboard-logout {
    width: 100px;
    height: 50px;
    margin-right: 20px;
    border-radius: 20px;
    background-color: red;
    font-family: 'Times New Roman', Times, serif;
}

.dashboard-body {
    height: 90%;
    width: 100%;
    display: flex;
}

.dashboard-option {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-content {
    width: 75%;
    height: 100%;
    background-color: bisque;
}

.dashboard-option-content {
    width: 100%;
    height: 90px;
    background-color: rgb(228, 228, 240);
    margin: 1px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.option-image {
    height: 60%;
}

.option-image-style {
    border-radius: 100%;
    width: 50px;
}